* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar-outer {
  width: 20%;
  height: auto;
  /* border: 1px solid red; */
  padding: 10px;
  background-color: #f5f5f5;
}

.mainbar-outer {
  width: 80%;
  height: auto;
  background-color: #e3e8f8;
  /* border: 1px solid yellow; */
}

.sidebar-main-head {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: #203562;
  margin-top: 3rem;
  text-transform: capitalize;
}

.sidebar-note-bar {
  margin-top: 5rem;
  padding: 10px;
  background-color: #203562;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.mainbar-note-heading {
  font-size: 25px;
  margin: 10px;
  padding: 5px;
  color: #203562;
}

.mainbar-helper-text {
  color: #203562;
  font-size: 17px;
  font-weight: 300;
  margin: 0 10px;
  padding: 5px;
}

.show-note-list {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.note-list-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 350px;
  box-sizing: border-box;
}

.note-list-title {
  display: flex;
  justify-content: space-between;
  color: #203562;
  padding: 0 5px;
  margin: 0 10px;
  font-size: 24px;
  font-family: 600;
}

.note-list-title > div > span {
  margin-right: 5px;
  padding: 5px;
  font-size: 16px;
  font-family: 300;
}

.note-list-title > div > span:hover {
  cursor: pointer;
}

.note-list-content {
  color: #303030;
  padding: 14px;
  flex-grow: 1;
  overflow: hidden;
}

.show-time {
  align-self: flex-start;
  margin-top: auto;
}

.mainbar-input-outer {
  padding: 30px;
}

.mainbar-box-outline {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainbar-heading-text {
  font-size: 30px;
  padding: 1rem 2rem;
  display: block;
  color: #203562;
}

.mainbar-input {
  color: #203562;
  padding: 10px;
  margin: 1rem;
  font-size: 25px;
  border: none;
  background-color: #f5f5f5;
  outline: none;
  display: block;
}

.mainbar-input:nth-child(2)::placeholder {
  color: #203562;
}

.mainbar-btn {
  background-color: #203562;
  color: #f5f5f5;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: none;
  outline: none;
}

.mb {
  margin-bottom: 3rem;
}

.mainbar-btn:hover {
  cursor: pointer;
}

.mainbar-text-hidden {
  display: none;
}
